# {{ ansible_managed }}
# {{ item.name }} policy

{% if item.users is defined or item.groups is defined %}
Host_Alias {{ item.name | upper }}_HOSTS = {{ item.hosts | join(', ') }}
Runas_Alias {{ item.name | upper }}_RUNAS = {{ item.runas | join(', ') }}
Cmnd_Alias {{ item.name | upper }}_CMDS = {{ item.cmnds | join(', ') }}

{% for defval in item.defaults %}
Defaults!{{ item.name | upper }}_CMDS {{ defval }}
{% endfor %}

{% if item.groups is defined %}
{% for group in item.groups %}
%{{ group }} {{ item.name | upper }}_HOSTS = ({{ item.name | upper}}_RUNAS) {{ item.tags | join(':') }}{% if item.tags is defined %}:{% endif %} {{ item.name | upper}}_CMDS
{% endfor %}
{% endif %}
{% if item.users is defined %}
{% for user in item.users %}
{{ group }} {{ item.name | upper }}_HOSTS = ({{ item.name | upper}}_RUNAS) {{ item.tags | join(':') }}{% if item.tags is defined %}:{% endif %} {{ item.name | upper}}_CMDS
{% endfor %}
{% endif %}
{% endif %}
