#!/bin/sh -e
# {{ ansible_managed }}

# tune CPU. /bin/true added because on virtual machine we can't set governor
/usr/bin/cpupower frequency-set --governor performance || /bin/true

# tune IRQ
/usr/sbin/irqbalance -o

# set scsi logging
/usr/bin/scsi_logging_level -s -a 0 -E 3 -T 3

exit 0