# {{ ansible_managed }}
# This configuration file setup disks parameters related to performance
# or disk timeout

# set noratitional for ssd devices
ACTION=="add|change", SUBSYSTEM=="block", ENV{SCSI_MODEL}=="PX0?*", ATTR{queue/rotational}="0"
ACTION=="add|change", SUBSYSTEM=="block", ENV{SCSI_MODEL}=="HUSM?*", ATTR{queue/rotational}="0"

# set nomerges for ssd devices
ACTION=="add|change", SUBSYSTEM=="block", ENV{SCSI_MODEL}=="PX0?*", ATTR{queue/nomerges}="1"
ACTION=="add|change", SUBSYSTEM=="block", ENV{SCSI_MODEL}=="HUSM?*", ATTR{queue/nomerges}="1"

# set io timeout 12 seconds for ssd
ACTION=="add|change", SUBSYSTEM=="block", ENV{SCSI_MODEL}=="PX0?*", RUN+="/bin/sh -c 'echo 12 > /sys$DEVPATH/timeout'"
ACTION=="add|change", SUBSYSTEM=="block", ENV{SCSI_MODEL}=="HUSM?*", RUN+="/bin/sh -c 'echo 12 > /sys$DEVPATH/timeout'"

# set io timeout 15 seconds for hdd
ACTION=="add|change", SUBSYSTEM=="block", ENV{SCSI_MODEL}=="HUC?*", RUN+="/bin/sh -c 'echo 15 > /sys$DEVPATH/timeout'"

# set max sectors per io operation
ACTION=="add|change", SUBSYSTEM=="block", ATTR{queue/max_sectors_kb}="16384"

# Reduce CPU overhead due to entropy collection
ACTION=="add|change", SUBSYSTEM=="block", ENV{ID_VENDOR}=="*", ATTR{queue/add_random}="0"

# Schedule I/O on the core that initiated the process
ACTION=="add|change",SUBSYSTEM=="block", ENV{ID_VENDOR}=="*", ATTR{queue/rq_affinity}="2"
