# {{ ansible_managed }}
# This file used for setup special name schema for devices that will be used as zfs vdevs

ACTION=="add|change", KERNEL=="dm-*", ENV{DM_UUID}!="?*-part*", RUN+="/etc/zfs/add-device.sh %k"
ACTION=="remove", KERNEL=="dm-*", ENV{DM_UUID}!="?*-part*", RUN+="/etc/zfs/remove-device.sh %k"
