#!/bin/bash
# {{ ansible_managed }}
# This script create symbolic link under /dev/disks/by-enc

sleep 0.15
DISK_PATH=${1}
read enclosure slot <<< $(ls -ld /sys/block/${DISK_PATH}/slaves/*/device/enclosure_device*|awk -F '/' '{print $(NF-1), $NF}')

[ -z "$enclosure" ] && exit 0
[ -z "$slot" ] && exit 0

IS_SSD=`cat /sys/block/${DISK_PATH}/queue/rotational`

DISK_TYPE=""
echo ${DISK_PATH} $IS_SSD >> /tmp/2.txt
if [ ${IS_SSD} -eq "0" ]; then
    DISK_TYPE="ssd"
else
    DISK_TYPE="hdd"
fi

ENC_ID=`cat "/sys/class/enclosure/${enclosure}/id"`
SLOT=`echo $slot | tr '[:upper:]' '[:lower:]'`

DEVICE_NAME=enc-${ENC_ID}-${SLOT}-${DISK_TYPE}
DEV_BASEDIR=/dev/disk/by-enc
DEVICE_PATH=${DEV_BASEDIR}/${DEVICE_NAME}

[ -d $DEV_BASEDIR ] || mkdir $DEV_BASEDIR
[ -L $DEVICE_PATH ] && rm $DEVICE_PATH

ln -s /dev/${1} $DEVICE_PATH
