#!/bin/bash
# {{ ansible_managed }}
# This script remove links under /dev/disks/by-enc folder

echo starting. ARG1 is $1 >> /tmp/2.txt

DEV_BASEDIR=/dev/disk/by-enc
DEV_NAME=`ls -l $DEV_BASEDIR | grep -w ${1} | awk '{print $(NF -2)}'`

if [[ $DEV_NAME = *"slot"* ]]; then
	rm -f ${DEV_BASEDIR}/${DEV_NAME}
fi
