# {{ ansible_managed }}
# ZNStor_v2 zfs module configuration file

# total arc size limited to 90%
options zfs zfs_arc_max={{ '%d' | format(ansible_memtotal_mb*1024*1024*0.9) }}

# txg timeout
options zfs zfs_txg_timeout=5

# disable prefetch
options zfs zfs_prefetch_disable=0

# tune l2arc
#options zfs l2arc_write_max=8388608
#options zfs l2arc_headroom=2

# dirty pages
options zfs zfs_dirty_data_max_max=21474836480
options zfs zfs_dirty_data_max=17179869184
options zfs zfs_dirty_data_sync=8589934592

options zfs zfs_dirty_data_max_max_percent=80
options zfs zfs_dirty_data_max_percent=70

# sync zfs_vdev_*
options zfs zfs_vdev_sync_write_min_active=8
options zfs zfs_vdev_sync_write_max_active=64
options zfs zfs_vdev_async_write_max_active=20
options zfs zfs_vdev_async_read_max_active=20
options zfs zfs_vdev_sync_read_max_active=25

options zfs zfs_vdev_scheduler=noop
options zfs zfs_prefetch_disable=1

options zfs zil_slog_bulk=536870912

# scrub
options zfs zfs_resilver_delay=1
options zfs zfs_scrub_delay=2

# cpu limits
options zfs zio_taskq_batch_pct=85
options zfs zfs_sync_taskq_batch_pct=85

# history
options zfs zfs_read_history=100
options zfs zfs_read_history_hits=100
options zfs zfs_txg_history=10
