# {{ ansible_managed }}
# ZNSTOR_v2 multipath configuration

blacklist {
}

defaults {
        find_multipaths         "yes"
        user_friendly_names     "no"
        skip_kpartx             "yes"
        features                "0"
        no_path_retry           "1"
        failback                "manual"
        path_grouping_policy    "failover"
        path_selector           "service-time 0"
        uid_attribute           "ID_SERIAL"
        path_checker            "tur"
}


devices {
        device {
            vendor                  "TOSHIBA"
            product                 "PX0[4-5]*"
            rr_min_io               "128"
        }

        device {
            vendor                  "HGST"
            product                 "HUC*"
            rr_min_io               "128"
        }
}
