totem {
	version: 2
	cluster_name: {{ corosync_cluster_name }}
	transport: udpu
	rrp_mode: active
        interface {
            ringnumber: 0
            bindnetaddr: {{ hostvars[inventory_hostname]['ansible_' + corosync_bindnet_interface_1]['ipv4']['network'] }}
            mcastport: {{ corosync_mcastport_1 }}
            ttl: 1
        }
        interface {
            ringnumber: 1
            bindnetaddr: {{ hostvars[inventory_hostname]['ansible_' + corosync_bindnet_interface_2]['ipv4']['network'] }}
            mcastport: {{ corosync_mcastport_2 }}
            ttl: 1
        }
}

{% if corosync_unicast_mode %}
nodelist {
{% for host in groups[pacemaker_cluster_group] | reverse | list %}
    node {
        ring0_addr: {{ hostvars[host]['corosync_bindnet_addr_1'] }}
        ring1_addr: {{ hostvars[host]['corosync_bindnet_addr_2'] }}
        name: {{ host }}
        nodeid: {{ loop.index }}
    }
{% endfor %}
}
{% endif %}

logging {
	logfile: /var/log/corosync/corosync.log
	to_stderr: no
	to_logfile: yes
	to_syslog: yes
	syslog_facility: daemon
	debug: off
	timestamp: on
	logger_subsys {
		subsys: QUORUM
		debug: off
	}
}

quorum {
	provider: corosync_votequorum
	two_node: 1
}